h1{
    background-color: rgb(20, 20, 49);
    color: whitesmoke;
    text-align: center;
}

.container{
    display: flex;
}

.list-container {
    background-color: rgb(116, 123, 146);
    flex: 5;
    color: whitesmoke;
    padding: 20px 30px;
}

.form-container {
    background-color: rgb(192, 192, 202);
    flex: 3;
    color: white;
    padding: 20px 30px;
}

.my-form{
    margin-bottom: 10px;
    padding: 5px;
}

.my-form label{
    display: block;
    width: 90px;
    /* padding: 30px; */
}

.main-icon{
    font-size: 40px;
    color: rgb(26, 26, 207);
    cursor: pointer;
}

#iImportant.important{
    color: rgb(216, 56, 8);
}

.task {
    display: flex;
    border:1px solid #200101;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 8px;
}

.task label {
    display: block;
    margin-bottom: 5px;
}

.task .col1 {
    flex: 4;
}

.task .col2 {
    flex: 1;
}

.task .col3 {
    flex: 1;
}